{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": [ 1, { "extensions": [".js", ".jsx"] } ],
    "react/prefer-stateless-function": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-quotes": "off",
    "semi": "off"
  }
}